/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#messageBar { -fx-background-color: #336699; }

#canvas {-fx-padding: 26.0 10.0 10.0 10.0;}

.bordered-titled-title {
  -fx-text-fill: white;
  -fx-background-color: #336699;
  -fx-font-weight: BOLD;
  -fx-translate-y: -18;
}

.bordered-titled-border {
  -fx-content-display: top;
  -fx-border-insets: 20.0 15.0 15.0 15.0;
  -fx-border-color: white;
  -fx-border-width: 2.0;
}

.bordered-titled-content {
  -fx-padding: 26.0 10.0 10.0 10.0;
}